<<<<<<< HEAD
/* for the hero image */
#content {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  width: 900px;
}

#banner{
  display: block;
  margin: 0 auto;
}

#byline{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;
}
=======
/* for the hero image */
#content {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  width: 900px;
}

#banner{
  display: block;
  margin: 0 auto;
}

#byline{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

p{
  font-family: Georgia, serif;
  font-size: 13px;
}
>>>>>>> add5e6ecea8b285128fb2ef2370788d453e8204f
