#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.navbar-brand{
  font-family: 'Playfair Display', serif;
  font-size:22.5px;
}

.hero-image {
  background-image: url("bling-ring.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  text-align: center;
  font-style: 'Playfair Display', serif;
  position: absolute;
  color: black;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size:60px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.description{
  font-style: 'Playfair Display', serif;
  font-size:18px;
}

.byline{
  font-family: 'Playfair Display', serif;
  text-align:center;
  font-size:18px;
  padding-bottom: 20px;
}

p{
  font-family: 'Libre Caslon Text', serif;
  font-size:16px;
}

h2{
  font-family: 'Libre Caslon Text', serif;
  text-align: center;
  font-size:40px;
  font-style: italic;
  text-decoration: underline overline red;
}
