#container{
  width: 100%;
  height:100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.topnav {
  background-color: black;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 100px;
  font-size: 18px;
  text-decoration: overline red;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: black;
  color: white;
}

.hero-image {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0.5, 0, 0)), url("bling-ring.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	position: relative;
  padding-top: 100px;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  background: url("bling-ring.jpg") no-repeat center top;
}

.hero-text {
  text-align: center;
  color: white;
  padding-bottom: 0px;
  padding-top: 100px;
  text-shadow: 4px 4px black;

}

h1{
  font-family: 'Playfair Display', serif;
  font-size:60px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

.description{
  font-style: 'Playfair Display', serif;
  font-size:18px;
  text-align: center;
}

.byline{
  font-family: 'Playfair Display', serif;
  text-align:center;
  font-size:18px;
  padding-bottom: 20px;
}

p{
  font-family: 'Libre Caslon Text', serif;
  font-size:16px;
}

h2{
  font-family: 'Libre Caslon Text', serif;
  text-align: center;
  font-size:40px;
  font-style: italic;
  text-decoration: underline overline red;
}
