#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.navbar-brand{
  font-family: 'Playfair Display', serif;
  font-size:22.5px;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size:60px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}

.byline{
  font-family: 'Playfair Display', serif;
  text-align:center;
  font-size:17.5px;
  padding-bottom: 20px;
}
