/*styles for my resume*/

/*style for body of html website*/
body{
  font-family:open sans, arial, sans-serif;
  font-size:1em;
  font-weight:400;
  color:#404040;
}

/*style for title of resume*/
 strong{
  text-transform:uppercase;
  font-size:1.5em;
  color:#33485e;
}

/*style for name of job titles*/
h3{
  font-weight:600;
  font-size:1.5em;
}

/*style for name of organizations*/
h4{
  font-weight:400;
}

/*style for dates*/
h5{
  font-weight:400;
  font-size:1em;
  font-style:italic;
}

/*style for listed items*/
li{
  font-size:1em;
}

#name{
  font-size:3em;
  color:#33485e;
  text-transform:uppercase;
  text-align:center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.sectionheader{
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:white;
  font-weight:400;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

.organization{
  font-size:1.25em;
}

.date{
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.menu{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  display: inline;
}

#degrees{
  margin: 5px 0px 0px 0px;
}

#do{
  margin: 5px 0px 0px 0px;
}

#title{
  font-weight: 600;
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.top{
  width: 60%;
  min-width: 300 px;
  margin:0 auto;
  margin-bottom: 30px;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
