#container{
  width: 100%;
  max-width: 1980px;
  max-height: 1280px;
  margin: 0px auto;
  padding: 0px;
}

/* banner at top of resume */
.banner{
  height: 30%;
  width: 1280px;
  margin-bottom: 50px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;

  /* Position and center the image to scale nicely on all screens */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.menu{
  margin-left: 5em;
  font-family: Century, sans-serif;
  word-spacing: 2em;
  font-size:20px;
  margin: 10px;
  padding: 0px;
  text-align:center;
  display:inline;
}

#name{
  font-size:25px;
  font-family: Georgia, serif;
  color:#33485e;
  text-transform:uppercase;
  text-align:center;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin:0 auto;
  margin-bottom: 30px;
}
