#container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.header{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left:20px;
  padding-right:20px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  background: #FDE26C;
  color: black;
  font-size: 16px;
}

h1{
  font-family: 'Satisfy', cursive;
  font-size: 120px;
  text-shadow: 6px 6px #FF9999;
}

img{
  display:block;
  padding-top:40px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

.row{
  padding-top: 40px;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom:40px;
}

h2{
  padding-top:40px;
  padding-right:20px;
  text-align:center;
  font-family: 'Satisfy', cursive;
  font-size: 55px;
}

/*styling for the intro and "about me" paragraph */
.intro{
  padding-right:40px;
  padding-left:40px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  font-size: 19px;
  background: #FDE26C;
  box-shadow: 15px 15px #FFB7C5;
}

.menu{
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  padding-top: 20px;
  text-align:center;
  display:inline;
}

p{
  font-family: 'Space Mono', monospace;
}

.jobs{
  background: #FDE26C;
  box-shadow: 15px 15px #FFB7C5;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right:50px;
}

#do{
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  background: #FDE26C;
  box-shadow: 15px 15px #FFB7C5;
  padding-top:15px;
  padding-bottom:10px;
}

.column2 {
  float: left;
  width: 100%;
}

#degrees{
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  background: #FDE26C;
  box-shadow: 15px 15px #FFB7C5;
  padding-top:15px;
}
