p{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1{
  font-family: Georgia, Garamond, serif;
  font-size: 40px;
}

h2{
  font-family: Georgia, Garamond, serif;
  font-size: 25px;
}

.masthead{
  font-size:80px;
  font-style: oblique;
  text-transform:uppercase;
  text-decoration: overline wavy green;
  background-color:#FF0033;
  color:white;
  text-align: center;
  font-weight:500;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  min-width: 1000px;
}
